/* this is a comment in css */
:root {
  background-color: #E6EBE0;
  font-family: 'Roboto', sans-serif;
  color: #3F3D56;
}
body {
  margin: 0;
}

.content-wrapper {
  position: relative;
  width: 100%
  /* max-width: 1280px; */
  /* margin: 0 auto; */
}

.header-container {
  background-color: white;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 0 rgba(93, 96, 99, 0.1);
}

.nav-content {
  width: 100%;
  max-width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btn {
  color: #3F3D56;
}

.nav-img {
  max-width: 200px;
  margin: 10px 0;
}

.nav-btn {
  background: none;
  background-color: inherit;
	border: none;
	padding: 10px 15px;
	font-weight: normal;
  font-size: 20px;
  text-decoration: none;
}

.hero-image {
  max-width: 500px;
  justify-content: center;
  padding: 20px;
}

a.button-main {
  text-decoration: none;
  background-color: #36C9C6;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 12px;
  margin: 20px 0px;
  border-radius: 500px;
}

a.text-link {
  text-decoration: none;
  text-align: center;
}

select {
  background-color: white;
}

.site-container {
  margin: 0 auto;
  max-width: 940px;
}

.container {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.center {
  background-color: inherit;
  display: contents;
  text-align: center;
  width: 100%;
  margin: 100px auto;
  padding: 20px;
}

.homepage-center {
  background-color: inherit;
  /* border: 1px solid black; */
  /* padding: inherit; */
  max-width: 940px;
  margin: 50px auto 0 auto;
}

.content-center {
  background-color: white;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
  max-width: 940px;
  padding: 20px;
  margin: 0 auto 50px auto;
}

#video {
  display: flex;
  flex: initial;
}

.video-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-links {
  text-transform: uppercase;
  padding: 8px;
  margin: 10px 0px;

}

#center-image {
  max-width: 300px;
}

.content-footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: white;
color: #3F3D56;
text-align: center;
}

.main-footer {
  background-color: white;
}

#icon-images {
  max-width: 100px;
}
