/* this is a comment in css */
:root {
  background-color: #E6EBE0;
  font-family: 'Roboto', sans-serif;
  color: #3F3D56;
}
body {
  margin: 0;
}

.content-wrapper {
  position: relative;
  width: 100%
  /* max-width: 1280px; */
  /* margin: 0 auto; */
}


.header-container {
  background-color: #FAF7E8;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-content {
  width: 100%;
  max-width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btn {
  color: #3F3D56;
}

.nav-img {
  max-width: 200px;
  margin: 10px 0;
}

.nav-btn {
  background: none;
  background-color: inherit;
	border: none;
	padding: 10px 15px;
	font-weight: bolder;
  font-size: 24px;
  outline: none
}

.nav-btn:hover {
  text-decoration: underline;
}

.hero-image {
  max-width: 500px;
  justify-content: center;
  /* padding: 40px; */
}

a.button-main {
  text-decoration: none;
  background-color: #36C9C6;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 12px;
  margin: 20px 0px;
  border-radius: 500px;
}

a.text-link {
  text-decoration: none;
  text-align: center;
}

select {
  background-color: white;
}

.site-container {
  margin: 0 auto;
  max-width: 940px;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.center {
  background-color: inherit;
  text-align: center;
  width: 100%;
  margin: 100px auto;
  padding: 20px;
}

.homepage-center {
  display: block;
  background-color: inherit;
  text-align: left;
  height: 36px;
}

.content-center {

  background-color: blue;
}

#center-image {
  max-width: 300px;
}

/* .site-footer {
  background-color: white;
} */

/* .footer-elements {
  background-color: inherit;
} */

footer {
  background-color: #C8C5B7;
  display: block;
  box-sizing: inherit;
  padding: 20px 0 95px;
  text-align: center;
}

.main-footer {
  background-color: red;
}

#icon-images {
  max-width: 100px;
}
